body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    margin-top: 20px;
}

p {
    color: #666;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#Database Data {
    list-style-type: none;
    padding: 0;
    width: 80%;
    max-width: 800px;
    margin: 20px 0;
}

#Database Data li {
    background-color: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#pagination {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    margin-bottom: 20px;
}

#pageInfo {
    font-size: 16px;
    color: #333;
}